<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editor de tarefa</title>
</head>
<body>
    <h1>Editar tarefa</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="titulo" value="{{ task.titulo }}" placeholder="Titulo da tarefa">
        <br>
        <label type="checkbox" name="completed" {% if task.status %}checked{% endif %}> concluida
        </label>
        <br>
        <button type="submit">Atualizar</button>
    </form>

    <a href="{% url 'usuario' %}">Voltar para a lista</a>

 
</body>
</html>