<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        
        <button type="submit">Login</button>
    </form>
    <p>Esqueceu a senha? <br>
        <form action="{% url 'senha_redifinir' %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Clique aqui para redefinir</button>
        </form>
    </p>
        
    <p>Não tem uma conta ainda? 
        <form action="{% url 'registro' %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Clique aqui para criar uma conta</button>
        </form>
    </p>
        
    
</body>
</html>