<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil do usuario</title>
</head>
<body>
    <h1>Perfil do Usuário</h1>
    
    <!-- Exibe o nome do usuário que foi passado para o template a partir da view 'perfil_usuario'. -->
    <p>Nome de Usuário: {{ username }}</p>
    
    <p>Tarefas atribuidas:</p>
    <ul>
        {% for task in tasks %}
            <li>{{ task.titulo }} - {% if task.status %} - Concluída {% else %} Pendente {% endif %}</li>
        {% empty %}
        <li>Não há tarefas atribuídas.</li>
    {% endfor %}
    </ul>

    
    <a href="{% url 'add_task' %}">adicionar nova Tarefa</a>

    <!-- Link para logout -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
</form>
</body>
</html>