<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redefinir senha</title>
</head>
<body>
    <h1>Redefinição da senha</h1>

    <!-- Formulário onde o usuário solicita a redefinição de senha -->
    <form method="post">
        {% csrf_token %}

        <label for="email">E-mail</label>
        <input type="email" name="email" required> <!-- Campo para inserir o e-mail -->
        <button type="submit">Enviar e-mail de redefinição de senha</button>

    </form>
    
</body>
</html>