<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redefinir senha</title>
</head>
<body>
    <h1>Insira sua nova senha</h1>
    <form method="post">
        {% csrf_token %}  
    <label for="new_password1">Nova Senha:</label>
    <input type="password" name="new_password1" required>  <!-- Campo para nova senha -->
    
    <label for="new_password2">Confirme a Nova Senha:</label>
    <input type="password" name="new_password2" required>  <!-- Campo para confirmar nova senha -->
    
    <button type="submit">Redefinir Senha</button>  <!-- Botão para confirmar a nova senha -->

    </form>
    
</body>
</html>