{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto;">
    <h1>Insira sua nova senha</h1>

    <!-- Formulário para o usuário redefinir sua senha -->
    <form method="post">
        {% csrf_token %}
        {{ form }}  <!-- Exibe os campos do formulário, que já incluem a validação do Django -->
        
        <button type="submit" class="btn btn-success">Redefinir Senha</button>  <!-- Botão para confirmar a redefinição -->
    </form>
</div>
{% endblock %}
