{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Redefinição de Senha Enviada</h1>
    <h5>Enviamos um e-mail com as instruções para redefinir sua senha, caso exista uma conta registrada com o e-mail que você inseriu. Você deve recebê-lo em breve.</h5><br>
    <h6 style="width: 60%; margin: 0 auto">Se você não receber o e-mail, por favor, verifique se o endereço de e-mail está correto e confira a sua pasta de spam.</h6>
</div>
<div class="text-center">
    <a href="{% url 'login' %}">Voltar para a página de login</a>
</div>
{% endblock %}
